body {
    background-image: url("https://www.publicdomainpictures.net/pictures/70000/velka/old-parchment.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
}
.titleHeader {
    font-weight: bold;
    font-size: 50px;
}
.character {
    border-style: solid;
    border-color: rgb(66, 66, 66);
    background-color: rgb(66, 66, 66);
    padding: 5px;
    width: 100%;
}
.card {
    position: relative;
    top: 0px;
    left: 0px;
}
.skull {
    text-align: center;
    position: absolute;
    margin: auto;
    width: 80%;
    top: 5px;
    left: 5%;
    right: 5%;
}
.card-text {
    font-weight: bold;
    font-size: 20px;
}
.HP {
    font-weight: bold;
    padding-top: 5px;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    float: left;    
}
.HPValue {
    font-weight: bold;
    padding-top: 5px;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    text-align: center;
}
.line {
    border-bottom-style: solid;
}
.attackButton {
    float: left;
    margin-left: -15px;
}
.resetButton {
    float: right;
    margin-right: -15px;
}
.vs {
    margin: auto;
}





